
.cardBack{
    background-color: #f5f5dc;
    padding: 1rem;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 1.5rem;
    text-align: center;
  }
  .releaseDate{
    font-size: 1.5rem;
    color: red;
    text-align: center;
  }

  .btnShowReviews{
    background-color: brown;
    width: 100%;
    padding: 5px;
    color: #ffffff;
    border: 0px;
    border-radius: 5px;
  }

  .btnAddReview {
      background-color: darkgoldenrod;
      width: 100%;
      padding: 5px;
      color: #ffffff;
      border: 0px;
      border-radius: 5px;
      margin-top: 5px;
  }

  .cardBackground {
      background-color: darkgray;
      padding: 5px;
  }



  /*==============================================================*/
  @media (max-width: 768px) {

    .releaseDate{
        font-size: 1.0rem;
        color: red;
        text-align: center;
    }

  }

  @media (max-width: 600px) {

    .releaseDate{
        font-size: 1.0rem;
        color: red;
        text-align: center;
    }

  }