    .container {
        padding: 0 2rem;
    }
  
  .main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .title a {
    color: #0070f3;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 2.5rem;
  }
  
  .title {
    text-align: center;
  }
  

  .MovieCardLayout{
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      column-gap: 1.0rem;
      row-gap: 1.0rem;
  }
  .MovieCard {
      justify-content: center;
  }

  /*=======================================================*/
  @media (max-width: 768px) {

    .title a {
        color: #0070f3;
        text-decoration: none;
    }
    
    .title a:hover,
    .title a:focus,
    .title a:active {
        text-decoration: underline;
    }
    
    .title {
        margin: 0;
        line-height: 1.15;
        font-size: 1.5rem;
    }
    
    .title {
        text-align: center;
    }

    .MovieCardLayout{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 1.0rem;
        row-gap: 1.0rem;
    }

  }


  @media (max-width: 600px) {

    .title a {
        color: #0070f3;
        text-decoration: none;
      }
      
    .title a:hover,
    .title a:focus,
    .title a:active {
        text-decoration: underline;
    }
      
    .title {
        margin: 0;
        line-height: 1.15;
        font-size: 1.5rem;
    }
      
    .title {
        text-align: center;
    }

    .MovieCardLayout{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        column-gap: 1.0rem;
        row-gap: 1.0rem;
    }

  }
  
